@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

:root {
  --sarala: "Sarala", sans-serif;
  --righteous: "Righteous", cursive;
  --cor-principal: #fff2e7;
  --cor-semi-principal: #f4ccd5;
  --cor-sub-principal: #aa4e8b;
  --cor-marca-escuro: #e06fac;
  --cor-marca-medio: #aa4e8b;
  --cor-marca-claro: #f4ccd5;
  --azul-claro: #a6dfeb;
  --pink: #ec2288;
  --branco: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  font-family: var(--sarala);
}

html {
  font-size: 62.5%;
}

html,
body {
  overflow-x: hidden;
  background: var(--pink);
}

h1 {
  font-family: var(--righteous);
  font-size: 50px;
  font-weight: 400;
  line-height: 50px;
  color: var(--cor-principal);
  margin-bottom: 32px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 34px;
    line-height: 49px;
    margin-bottom: 22px;
  }
}

h2 {
  font-size: 18px;
  font-weight: 400;
  line-height: 39px;
  color: var(--pink);
  margin-bottom: 34px;
}

@media (max-width: 800px) {
  h2 {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 24px;
  }
}

h3 {
  font-family: var(--righteous);
  font-size: 34px;
  font-weight: 400;
  line-height: 39px;
  color: var(--pink);
  margin-bottom: 31px;
}

@media (max-width: 800px) {
  h3 {
    font-size: 18px;
    line-height: 29px;
    margin-bottom: 20px;
  }
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  color: var(--pink);
  margin-bottom: 26px;
}

@media (max-width: 800px) {
  p {
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 16px;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* .container{
  margin-left: 1rem;
  margin-right: 1rem;
} */

.right {
  text-align: right;
  position: relative;
}

.left {
  text-align: left;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
}

.post {
  text-align: left;
  position: relative;
  margin-left: 15%;
  margin-right: 15%;
  align-items: center;
}

.header {
  background: var(--pink);
  padding: 18px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

@media (max-width: 800px) {
  .header {
    padding: 12px 0;
  }
}

.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .header-main {
    display: unset;
  }
}

.header-main-logo {
  width: 20px;
  height: 20px;
  color: #fff2e7;
}

@media (max-width: 800px) {
  .header-main-logo {
    width: 42px;
    height: 42px;
  }
}

.menu {
  display: flex;
  transition: 0.3s all ease-in-out;
}

@media (max-width: 800px) {
  .menu {
    display: none;
  }
}

.menu-item {
  margin: 0 15px;
}

@media (max-width: 800px) {
  .menu-item {
    margin: 15px 0;
  }
}

.menu-item-link {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  color: var(--cor-principal);
  transition: 0.3s all ease-in-out;
  padding: 0 4px;
  padding-bottom: 10px;
}

.menu-item-link::before,
.menu-item-link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  right: 0;
  height: 3px;
  border-radius: 6px;
  background: var(--cor-marca-claro);
}

.menu-item-link::before {
  opacity: 0;
  transform: translateY(-10px);
  transition: transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0s;
}

.menu-item-link::after {
  opacity: 0;
  transform: translateY(10px/2);
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.3s;
}

.menu-item-link:hover::before,
.menu-item-link:hover::after {
  opacity: 1;
  transform: translateY(0);
}

.menu-item-link:hover::before {
  transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0.3s;
}

.menu-item-link:hover::after {
  transition: transform 0s 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275),
    opacity 0s 0.3s;
}

@media (max-width: 800px) {
  nav .header-main-menu {
    position: absolute;
    top: 17px;
    right: 20px;
    width: 32px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5;
  }

  nav .header-main-menu .header-main-menu-line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: var(--cor-principal);
  }
}

.hero {
  background: var(--azul-claro);
  margin-bottom: -76px;
}

.hero h1,
.hero h2 {
  color: var(--azul-claro);
}

@media (max-width: 800px) {
  .hero {
    padding: 30px 0;
  }
}

.hero-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .hero-main {
    flex-direction: column;
    justify-content: center;
  }

  .hero-main-content {
    margin-bottom: 32px;
  }
}

.btn-hero-main-sobre {
  background: var(--cor-principal);
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: var(--cor-sub-principal);
  transition: 0.3s all ease-in-out;
}

@media (max-width: 800px) {
  .btn-hero-main-sobre {
    padding: 12px 24px;
    border-radius: 20px;
    font-size: 14px;
    line-height: 29px;
  }
}

.btn-hero-main-sobre:hover {
  background: var(--cor-marca-claro);
  color: var(--cor-marca-escuro);
}

.desc {
  padding: 75px 0;
}

.desc-content {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 800px) {
  .desc {
    padding: 35px 0;
  }

  .desc-content {
    flex-direction: column;
  }
}

.desc {
  text-align: center;
}

.desc h3::before {
  content: "";
  position: absolute;
  top: 0;
  background: var(--cor-principal);
  width: 265px;
}

@media (max-width: 800px) {
  .desc h3::before {
    width: 20rem;
  }
}

.footer {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  border-top: 0.4px solid var(--cor-principal);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  height: 67px;
}

@media (max-width: 800px) {
  .footer-logo {
    height: 37px;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-copy {
    margin-bottom: 20px;
  }
}

/* ESTILIZANDO OS CARDS DE POSTS */



/* Estilos para os pop-ups */
.popup {
  background: #fff;
  border-radius: 3px;
  width: calc(33.33% - 90px);
  margin: 40px 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 30px;
}

.post-card-container {
  display: flex;
  flex-wrap: wrap;
  /* margin-left: 50px;
  margin-right: 50px; */
  align-items: center;
}

.post-card {
  background: #fff;
  border-radius: 3px;
  margin: 20px 10px;
  width: 270px;
  height: 360px;
  /* width: calc(33.33% - 90px);
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px; */
}

.post-card p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  flex-grow: 1;
  text-align: left;
  margin-left: 15px;
}

.post-card img {
  width: 100%;
  height: 230px;
  margin-bottom: 10px;
}

.post-card h3 {
  /* height: 46px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical; */
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  color: var(--pink);
  margin-bottom: 8px;
}

/* .read-more {
  display: inline-block;
  background: var(--pink);
  color: var(--cor-principal);
  text-decoration: solid;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  width: 50%;
  transition: background 0.3s ease-in-out;
  text-align: center;
  margin: 10px;
  margin-left: 15px;
} */

/* .read-more:hover {
  background: var(--azul-claro);
  color: var(--pink);
  text-decoration: solid;
} */

/* FORMULÁRIO PARA CRIAR POST NOVO */

#blogForm {
  /* max-width: 500px;
  margin-right: 20%;
  margin-left: 25%;
  margin-right: 10%;
  padding: 20px;
  border-radius: 5px; */
}

#blogForm label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#blogForm input[type="text"],
#blogForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 3px;
  border-radius: 3px;
  /* margin-left: 60%;
  margin-right: 10%; */
}

/*#blogForm button[type="submit"] {*/
#blogForm button {
  background: var(--pink);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: var(--cor-principal);
  transition: 0.3s all ease-in-out;
  /* margin-left: 60%;
  margin-right: 10%; */
  width: 48%;
  cursor: pointer;
}

/* #blogForm button[type="submit"]:hover { */
#blogForm button:hover {
  background-color: var(--pink);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: var(--azul-claro);
  border: 2px;
  border-color: var(--pink);
  /* margin-left: 60%;
  margin-right: 10%; */
  cursor: pointer;
}

#blogForm label [for="subtitulo"] {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  color: var(--pink);
  margin-bottom: 26px;
  cursor: pointer;
}


/* Estilos para o botão de arquivo visível */
#imagem {
  background: var(--pink);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: var(--cor-principal);
  transition: 0.3s all ease-in-out;
  margin-left: 60%;
  margin-right: 10%;
  width: 48%;
  cursor: pointer;
}

.submit:hover {
  background-color: var(--pink);
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  color: var(--azul-claro);
  border: 2px;
  border-color: var(--pink);
  margin-left: 60%;
  margin-right: 10%;
  cursor: pointer;
}

/* .submit:hover {
  background-color: var(--cor-marca-claro); 
} */

.titulos {
  font-size: 18px;
  line-height: 29px;
  color: var(--pink);
  width: 100%;
  padding: 10px;
  margin-left: 60%;
  margin-right: 0%;
  cursor: pointer;
}

.hero {
  background: var(--azul-claro);
  padding: 20px 0;
}


/* botão tipo file */





/* NOVOS CARDS */

.novo-post-card {
  background: #fff;
  border-radius: 3px;
  width: calc(33.33% - 90px);
  margin: 20px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 10px;
}

.novo-post-card p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
  flex-grow: 1;
  text-align: left;
  margin-left: 15px;
}

.novo-post-card img {
  width: 100%;
  height: 230px;
  margin-bottom: 10px;
}

.novo-post-card h3 {
  height: 46px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  color: var(--pink);
  margin-bottom: 8px;
}

.novo-read-more {
  display: inline-block;
  background: var(--pink);
  color: var(--branco);
  text-decoration: solid;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  width: 50%;
  transition: background 0.3s ease-in-out;
  text-align: center;
  margin: 10px;
  margin-left: 15px;
}

.novo-read-more:hover {
  background: var(--azul-claro);
  color: var(--pink);
  text-decoration: solid;
}


/* FOOTER */
.social-icon {
  margin-right: 20px;
  vertical-align: middle;
  justify-content: space-between;
}

.linkedin-icon img,
.instagram-icon img,
.github-icon img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}





@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
/* :root {
  --hue: 240;
  --first-color: hsl(var(--hue), 16%, 18%);
  --first-color-alt: hsl(var(--hue), 16%, 12%);
  --title-color: hsl(var(--hue), 8%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  
  --container-color: #FFF;
  --body-font: 'Poppins', sans-serif;
  --big-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --z-card: 1000;
} */

@media screen and (min-width: 968px) {
  :root {
    font-size: 1.75rem;
    font-size: 1rem;
  }
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
button{
  font-family: var(--sarala);
  font-size: var(--sarala);
}

body{
  color: var(--pink);
  position: relative;
}

button{
  cursor: pointer;
  border: none;
  outline: none;
}

img{
  max-width: 100%;
  height: auto;
}

/* .card{
  height: 100vh;
  display: grid;
  place-items: center;
} */

.card__button {
  display: inline-block;
  background: var(--pink);
  color: var(--cor-principal);
  text-decoration: solid;
  font-size: 15px;
  padding: 10px 15px;
  border-radius: 5px;
  width: 50%;
  /* transition: background 0.3s ease-in-out;
  text-align: center;
  margin: 10px;
  margin-left: 15px; */
}

.card__button:hover {
  background: var(--azul-claro);
  color: var(--pink);
}

.card__container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  align-items: flex-end;
  overflow: hidden;
  transition: all .3s;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
}

.card__content{
  position: relative;
  background-color:  #FFF;
  text-align: center;
  padding: 3rem 2rem 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: all .3s;
  transform: translateY(10%);
}

.card__img{
  width: 150px;
  margin-bottom: .75rem;
}

.card__close{
  display: inline-flex;
  border-radius: .25rem;
  color: #FFF;
  font-size: 1.5rem;
  position: absolute;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}

.card__title{
  font-size: 20px;
  color: var(--pink);
  font-weight: 500;
}

.card__description{
  margin-bottom: 1.5rem;
}

.card__button-width{
  width: 90%;
}

.card__button-link{
  display: block;
  margin: 1rem auto 0;
  background: var(--azul-claro);
  color: var(--pink);
  font-weight: 500;
  width: 90%;
  padding: 1rem 1.25rem;
  border-radius: .5rem;
  transition: .3s;
}

.show-card{
  visibility: visible;
  opacity: 1;
}

.show-card .card__content{
  transform: translateY(0);
}

@media screen and (min-width: 576px){
  .card__content{
    margin: auto;
    width: 380px;
    border-radius: 1.25rem;
  }

  .card__img{
    width: 300px;
    height: auto;
  }
}

.desc-form {
  width: 500px;
}

.desc-form .titulos {
  margin-left: unset;
  padding: unset;
}

.desc-form #imagem,
.desc-form #blogForm input[type="text"],
.desc-form #blogForm textarea {
  margin-left: unset;
}

.desc-form #imagem {
  width: unset;
}

/*.desc-form #blogForm button[type="submit"] {*/
.desc-form #blogForm button {
  width: unset;
  margin-left: unset;
  margin-right: unset;
}

.infos,
#informacoes {
  padding: 70px 0;
  text-align: left;
}

.d-none {
  display: none;
}